@import "../../node_modules/@carbon/colors/scss/colors.scss";

:root {
  // Background colors
  --color-background-primary: #{$white-0};

  // Text colors
  --color-text-primary: #{$cool-gray-80};
  --color-text-title: #{$cool-gray-100};
  --color-text-link: #{$purple-70};

  // Navbar
  --navbar-item-color: #{$cool-gray-80};
  --navbar-logo-color: #{$cool-gray-60};
}
