@import "../../node_modules/@carbon/colors/scss/colors.scss";

:root {
  // Background colors
  --qiskit--color-background-primary: #{$white-0};

  // Text colors
  --qiskit--color-text-primary: #{$cool-gray-80};
  --qiskit--color-text-title: #{$cool-gray-100};
  --qiskit--color-text-link: #{$purple-70};
  --qiskit--color-text-highlight: #{$purple-20};

  // Border colors
  --qiskit--color-border-highlight: #{$purple-70};

  // Navbar
  --qiskit--navbar-item-color: #{$cool-gray-80};
  --qiskit--navbar-logo-color: #{$cool-gray-60};
}
